<app-new-header></app-new-header>
<div class="container pb-4">

    <div class="p-5 p-md-5 mb-4 text-white rounded bg-light custome_banner_new">
        <div class="col-md-12 px-0 custome_font_p">
            <h1 class="display-2 custome_font">Our Services</h1>
            <p class="lead my-3 custome_font">
                Multiple lines of text that form the lede, informing new readers quickly
                and efficiently about what’s most interesting in this post’s contents.
            </p>
        </div>
    </div>
    <div class=" container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/kalash-pooja.webp"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Bhoomi
                            Puja</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Ganesh
                            Puja</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/durga.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Durga
                            Puja</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Griha
                            Prabesh</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Laxmi
                            Puja</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits"
                            class="btn btn-primary startbtn">Onnoprashon</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Saraswati
                            Puja</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Satyanarayan
                            Puja</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top mx-auto d-block abt_img" src="../../../assets/image/abt.jpg"
                        alt="Card image cap  ">
                    <div class="card-body">
                        <a routerLinkActive="active" routerLink="/pandits" class="btn btn-primary startbtn">Vivah</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>