<app-new-header></app-new-header>
<div class="container pb-4">

    <div class="p-5 p-md-5 mb-4 text-white rounded bg-light custome_banner_new">
        <div class="col-md-12 px-0 custome_font_p">
            <h1 class="display-2 custome_font">About Us</h1>
            <p class="lead my-3 custome_font">
                Multiple lines of text that form the lede, informing new readers quickly
                and efficiently about what’s most interesting in this post’s contents.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mt-5">Who We Are</h1>
                <p class="lead">PanditDekho is a application with the aim to simplify booking Pujas online and making
                    Pujas a hassle free experience for all. Book pandit from the comfort of your home at economical
                    rates. We provide Pandits for all kinds of Pujas, Jaaps and Paaths. PanditDekho delivers you the
                    right Pandit at your doorstep. Pandit dekho will provide you a easy life .</p>

            </div>
            <div class="col-md-4">
                <img src="../../../assets/image/abt.jpg" class="rounded mx-auto d-block abt_img mt-5" alt="" srcset="">
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>