<app-new-header></app-new-header>
<div class="container pb-4">

    <div class="p-5 p-md-5 mb-4 text-white rounded bg-light custome_banner_new">
        <div class="col-md-12 px-0 custome_font_p">
          <h1 class="display-2 custome_font">About Us</h1>
          <p class="lead my-3 custome_font">
            Multiple lines of text that form the lede, informing new readers quickly
            and efficiently about what’s most interesting in this post’s contents.
          </p>
        </div>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mt-5">Who We Are</h1>
                <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
                    CSS. A fixed navbar has been added with Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolor deserunt sunt asperiores fugit placeat impedit amet, laboriosam perferendis beatae voluptate
                    aperiam numquam esse dolore aut repudiandae non labore, accusamus ea nisi iure. Aspernatur voluptas,
                    repellendus neque, pariatur quod accusamus voluptatibus non laboriosam molestias nisi sed eaque
                    culpa sint perspiciatis itaque ab, expedita facere. Ea quis praesentium alias animi velit error. Ab
                    aspernatur itaque nam minima soluta perferendis aliquam temporibus dolorum ad. Odit voluptatum
                    pariatur optio nobis veritatis excepturi unde cum eos, vel soluta libero eius. Saepe optio ratione,
                    deserunt quidem, porro consectetur, officiis deleniti rerum officia assumenda blanditiis quibusdam
                    corrupti!<code class="small">padding-top: 60px;
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium optio explicabo quis eligendi deleniti, fuga quo officiis adipisci? Modi deserunt tenetur explicabo consequatur culpa eos at vero aut maxime, corrupti libero quas est excepturi rem sed dolor in obcaecati omnis. Neque mollitia excepturi sequi veritatis iste voluptatibus sint libero laborum.
                    </code> on the <code class="small">main &gt; .container</code>.</p>
                <p>Back to <a href="/docs/5.1/examples/sticky-footer/">the default sticky footer</a> minus the navbar.
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/image/abt.jpg" class="rounded mx-auto d-block abt_img mt-5" alt="" srcset="">
            </div>
        </div>

    </div>

</div>
<app-footer></app-footer>
