header{
  background: #ffffff;
}
nav a {
    text-decoration: none;
    color: orangered;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo_img {
    height: 50px;
    padding-right: 1rem;
  }
  
  .logo_text {
    font-size: 2rem;
    font-weight: 500;
  }
  .middle_nav {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }
  

  
  .right_nav {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  
  .signup {
    background: orangered;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }
  
  .signup:hover {
    background: rgb(218,35,0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;

  }
  
  .signup a {
    color: white;
  }
  