<app-header></app-header>

<div class="container">
  <div class="p-5 p-md-5 mb-4 text-white rounded bg-light custome_banner_new">
    <div class="col-md-12 px-0 custome_font_p">
      <h1 class="display-2 custome_font">Our Pandit List</h1>
      <p class="lead my-3 custome_font">
        Multiple lines of text that form the lede, informing new readers quickly
        and efficiently about what’s most interesting in this post’s contents.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit1.jpg"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit2.jpg"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit3.jpg"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit4.png"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit5.png"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="../../../assets/image/pandit6.jpg"
            alt=""
          />
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Puja</strong>
          <h3 class="mb-0">Pandit Name</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Iste, quam.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-sm-2 p-4 booking">
          <button class="btn btn-warning">Book now</button>
          <p class="btn btn-warning price">$4546</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
