nav a {
  text-decoration: none;
  color: orangered;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  height: 50px;
  padding-right: 1rem;
}

.logo_text {
  font-size: 2rem;
  font-weight: 500;
}
.middle_nav {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.custome_banner {
  background: url("../../../assets/image/banner.jpg");
  height: 100%;
  background-size: cover;
}
.custome_font {
  padding: 0rem 1.5rem;
}
.custome_font_p {
  /* color: #f6ed00; */
  background: linear-gradient(45deg,rgba(0, 0, 0, 0), rgb(218,35,0), rgba(0, 0, 0, 0)) !important;
}

.right_nav {
  display: flex;
}

.startbtn {
  background: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: rgb(218,35,0);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}
.startbtn:hover{
  background: orangered;
  color: white;
}

