<header class="site-header sticky-top py-1">
    <nav
      class="container d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
      <div class="logo">
        <img src="../../../assets/image/logo.webp" class="logo_img" alt="" />
        <a
          class="navbar-brand logo_text"
          routerLinkActive="active"
          routerLink="/landing"
          >PANDIT DEKHO</a
        >
  
        <div class="middle_nav">
          <a
            class="py-2 d-none d-md-inline-block"
            routerLinkActive="active"
            routerLink="/pandits"
            >Pandit List</a
          >
          <a
            class="py-2 d-none d-md-inline-block"
            routerLinkActive="active"
            routerLink="/service"
            >Services</a
          >
          <a
            class="py-2 d-none d-md-inline-block"
            routerLinkActive="active"
            routerLink="/about"
            >About us</a
          >
        </div>
      </div>
  
      <div class="right_nav">
        <button type="button" class="btn btn-warning signup">
          <a routerLinkActive="active" routerLink="/client_login">Login</a>
        </button>
  
        <!-- <button type="button" class="btn btn-warning signup">
          <a routerLinkActive="active" routerLink="/pandit_registration"
            >Priest</a
          >
        </button> -->
      </div>
    </nav>
  </header>
  