<app-header></app-header>

<div class="container">
    <div class="p-5 p-md-5 mb-4 text-white rounded bg-light custome_banner_new">
        <div class="col-md-12 px-0 custome_font_p">
            <h1 class="display-2 custome_font">All Puja Requests</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                   
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Puja</strong>
                        <h3 class="mb-0">Client Name Puja</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            pandit details Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, quam.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-sm-2 p-4 booking">
                        
                        <p class="btn btn-warning price accept_btn">Accept</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>